/* Global styles */
* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
}

/* App component styles */ 
.app {
    width: 100%; 
    height: 100vh; 
    background-color: rgb(24, 22, 22);
    display: flex;
    align-items: center;
    justify-content: center;
} 

.app-container {
    width: 85%; 
    height: 80%; 
    background-color: rgb(218, 209, 209); 
    border-radius: 10px;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

@media all and (max-width: 480px) { 
    .app-container {
        height: fit-content;
    }
}

.die-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(700px, 9fr)); 
    grid-gap: 0.3rem; 
    width: 80%; */
    /* grid-template: auto auto / repeat(5, 1fr); */
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;     
}

.die-numbers {
    box-shadow: 4px 8px 14px -1px rgba(0,0,0,0.75);
    width: 4rem; 
    height: 70px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

@media all and (min-width: 480px) and (max-width: 768px) { 
    .die-numbers {
        width: 3rem;
        height: 50px;
    }
}

@media all and (max-width: 480px) {  
    .die-numbers {
        width: 2.5rem; 
        height: 40px;
    }
    .die-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px; 
    }
}

.reset-button, .refresh-button {
    background-color: rgba(66, 66, 66, 0.9); 
    width: 100px; 
    height: 50px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border-radius: 5px;
    margin-top: 50px;
    color: white;
    cursor: pointer;
}

.reset-button:hover, .refresh-button:hover {
    background-color: rgb(80, 75, 75);
}


.title {
    font-size: 40px;
    margin: 0;
    margin-bottom: 10px;
}

.instructions {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 0;
    text-align: center;
    margin-bottom: 20px;
}

.won-div {
    background-color: rgb(90, 235, 90, 0.9);
    width: 120px; 
    height: 40px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin: 20px;
    border-radius: 5px;
}
.other-info, .other-info2 {
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.time, .rolls {
    background-color: rgba(150, 145, 145, 0.9); 
    width: 150px; 
    height: 50px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border-radius: 5px;
    margin: 10px;
    color: white;
}
.instructions2, .reset-game, .scoreboard {
    background-color: rgba(94, 86, 86, 0.9); 
    border: none;
    width: 160px; 
    height: 40px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border-radius: 5px;
    margin: 10px;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    text-align: center;
}
.instructions2:hover , .reset-game:hover , .scoreboard:hover {
    background-color: rgba(117, 110, 110, 0.9);
} 

/* INSTRUCTIONS PAGE */
.instructions3 {
    width: 100%; 
    height: 100vh; 
    background-color: rgb(24, 22, 22);
    display: flex;
    align-items: center;
    justify-content: center;
} 
.instructions-container1 {
    width: 85%; 
    height: 80%; 
    background-color: rgb(218, 209, 209); 
    border-radius: 10px;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}
.instructions-details {
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-size: 1.2rem;
    flex-direction: column;
}
.instructions-details li {
    margin: 10px;
}
.button-container {
    width: inherit; 
    display: flex; 
    align-items: flex-start;
    margin-top: 6rem;
}
.back-button {
    background-color: rgb(49, 48, 48, 0.9); 
    width: 80px; 
    height: 30px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border-radius: 5px;
    margin-top: 50px;
    color: white;
    cursor: pointer;
}
.back-button:hover {
    background-color: rgba(94, 91, 91, 0.9);
}

/* START PAGE */
.start-buttons {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
}
.start-buttons .refresh-button {
    margin-top: 0; 
    margin: 1rem;
}